.project-body {
    /* position: relative; */
}

.button {
    background: #8d00cc;
    border-radius: 10px;
    padding: 23px 20px 114px 30px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    left: 150px;
    text-transform: capitalize;
    color: #ffffff;
    position: absolute;
    border: none;
}

.heading-button {
    background: #8d00cc;
    border-radius: 10px;
    padding: 23px 30px 114px 30px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    left: 50px;
    text-transform: capitalize;
    color: #ffffff;
    position: absolute;
    border: none;
    width: 220px;
    text-align: center;
}

.heading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 10px;
    position: relative;
}

.div {
    background: rgba(11, 21, 41, 0.4);
    box-shadow: inset 0px 4px 24px #0b152a;
    backdrop-filter: blur(144px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 18px;
    padding: 40px 39px 198px 52px;
    position: relative;
    top: 69px;
    backdrop-filter: blur(144px);
}

.p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 15px;
}

.project-ellipse {
    width: 600px;
    height: 200px;
    border: 1px solid #464646;
    border-radius: 50%;
    transform: rotate(160deg);
    position: absolute;
    top: 10%;
    left: 77%;
    z-index: -1;
}

.project-blur-ellipse {
    width: 400px;
    height: 400px;
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    background-color: rgb(99, 14, 141);
    z-index: -1;
    top: 22%;
    left: 93%;
    box-shadow: inset 0px 3.80463px 500px rgb(0 0 0 / 25%);
}

.slick-slide-box {
    border: 1px solid transparent !important;
}

.project-slick {
    margin-top: -100px !important;
}

.project-slick .slick-prev {
    left: 0px !important;
}

.main-box-slick {
    /* border: 1px solid yellow */
}

.image_box_icons {
    display: block !important;
    border: 1px solid transparent;
}

.project-images {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    outline: none !important;
}

@media screen and (max-width:1000px) {
    .project-images img {
        width: 70%;
    }
    .project-slick .slick-prev,
    .project-slick .slick-next {
        top: 50% !important;
    }
}

@media only screen and (max-width: 700px) {
    .button {
        display: flex;
        justify-content: center;
        font-size: 20px;
        width: 10px;
        left: 158px;
        padding: 15px 84px 31px 90px;
        line-height: 20px;
    }
    .heading-button {
        background: #8d00cc;
        border-radius: 10px;
        padding: 23px 20px 114px 30px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        text-align: center;
        line-height: 37px;
        left: 50px;
        width: 308px;
        text-transform: capitalize;
        color: #ffffff;
        border: none;
    }
}

@media screen and (max-width:500px) {
    .project-slick {
        margin-top: -100px !important;
    }
    .project-images {
        width: 74% !important;
        margin-left: 70px;
    }
    .project-images img {
        width: 100%;
    }
    .p {
        font-size: 14px;
    }
    .div {
        padding: 40px 19px 198px 20px;
    }
}

@media only screen and (max-width: 400px) {
    .button {
        width: 10px;
        left: 80px;
        padding: 15px 84px 31px 90px;
        line-height: 20px;
    }
    .heading-button {
        background: #8d00cc;
        border-radius: 10px;
        padding: 23px 20px 114px 30px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        text-align: center;
        line-height: 37px;
        left: auto;
        width: 308px;
        text-transform: capitalize;
        color: #ffffff;
        border: none;
    }
}

@media only screen and (max-width: 342px) {
    .button {
        width: 10px;
        left: 25px;
        padding: 14px 138px 33px 139px;
        line-height: 25px;
    }
}